<div class="reset_pw_main">
    <div class="form" >
        <span class="sub_headline">Reset Password</span>
        <span>Please enter your e-mail address.</span>
        <div class="input_div">
            <input [class.invalid]="!email_valid" type="email" placeholder="Email" [(ngModel)]="user_email" (ngModelChange)="dataChanged()" (focus)="inputFocus()">
            <span *ngIf="!email_valid" class="error">Please enter a valid email</span>
        </div>
        <span>We will send you an email about You can change your password.</span>
        <div (click)="sendMail()" class="button">
            <span *ngIf="!auth.loading" >Send</span>
            <div *ngIf="auth.loading" class="loader"></div>
        </div>
        <div class="go_to">
            <span>Back to </span>
            <span (click)="goToLogin()" >Log in</span> 
        </div>
        <span class="error_text" *ngIf="auth.request_fail">{{auth.error_text}}</span>
        <span class="successfully_text" *ngIf="auth.request_successfull">Password reset email sent successfully.</span>
    </div>
</div>
