.logo
    img
        width: 150px

.profile
    cursor: pointer
    img
        width: 50px
        height: 50px

.scroll_background
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(24, 24, 24, 1) 0%)

nav
    display: flex
    color: #D6D6D6
    font-size: 14
    transition: 150ms
    gap: 20px
    span
        cursor: pointer
        &:hover
            color: #a3a3a3

.nav_logo
    display: flex
    gap: 20px
    align-items: center
