<header [class.scroll_background]="!content.scroll_top">
    <div class="nav_logo">
        <button *ngIf="router.url == '/home' || router.url == '/watchlist'  || router.url == '/legal_notice' || router.url == '/imprint' || router.url == '/my_videos'" mat-icon-button style="color: #fff;" class="hamburger_icon" (click)="toggleSidebar()">
            <mat-icon>menu</mat-icon>
          </button>
        <div class="logo">
            <img src="/assets/img/logo.png" alt="">
        </div>
        <div class="mobile_logo">
            <img src="/assets/img/logo_mobile.png" alt="">
        </div>
        <nav *ngIf="router.url == '/home' || router.url == '/watchlist' || router.url == '/my_videos'">
            <span (click)="goToHome()">Home</span>
            <span (click)="goToWatchlist()">Watchlist</span>
            <span (click)="goToMyVideos()">My Videos</span>
        </nav>
    </div>

    <div class="search_main" (click)="$event.stopPropagation()">
        <div  [class.show_search]="content.searching" class="search_input">
            <input type="text" placeholder="Title" [(ngModel)]="content.search_text" (ngModelChange)="dataChanged()" maxlength="30">
                <img class="search_icon_input" src="/assets/img/search.png" alt="">
                <img *ngIf="content.search_text != ''" class="close_icon" src="/assets/img/close.png" alt="" (click)="closeSearchInput()">
        </div>
    </div>
    <img *ngIf="router.url == '/home' || router.url == '/watchlist' || router.url == '/my_videos'" class="search_icon" src="/assets/img/search.png" alt="" (click)="openSearchInput()" (click)="$event.stopPropagation()">

    <div *ngIf="router.url == '/home' || router.url == '/watchlist' || router.url == '/my_videos'" class="profile" (mouseenter)="showLogout()" (mouseleave)="hideLogout()">
        <img src="/assets/img/profil.png" alt="">
        <div *ngIf="show_logout" class="space"></div>
    </div>
    <div *ngIf="router.url == '/home' || router.url == '/watchlist' || router.url == '/my_videos'" class="logout" [class.show_logout]="show_logout" (mouseenter)="showLogout()"
        (mouseleave)="hideLogout()" >
        <span class="user">{{auth.current_user.user_name}}</span>
        <span>Edit profile</span>
        <span (click)="openDialog('upload')">Video Upload</span>
        <span (click)="logOut()">Log out from Videoflix</span>
        <span *ngIf="!content.guest" (click)="openDialog('delete')">Delete your account</span>
    </div>
</header>
<app-sidenav [class.show_sidebar]="content.open_sidebar" class="sidebar"></app-sidenav>
<div [class.show_shadow]="content.open_sidebar" class="shadow" (click)="toggleSidebar()" ></div>