
<div class="main_div">
    <header>
        <div class="logo">
            <img src="/assets/img/logo.png" alt="">
            <span>VideoFlix</span>
        </div>
    </header>
    <div class="main_confirmed">
        <span class="success">Email confirmed successfull.</span>
        <span>You have successfully activated the account. You can now close this window</span>
        <div class="new_to">
            <span>Go to </span>
            <span (click)="goToLogin()" >Log in</span> 
        </div>
    </div>
</div>
<div class="shadow"></div>

