<section>
    <span class="section_heaadline">{{headline}}</span>
    <div *ngIf="scrollable && scrollable_left != 0" class="arrow_div_left" [class.show_content]="hover"
        (mouseover)="hover = true" (mouseout)="hover = false" (click)="scrollLeft()">
        <img src="/assets/img/back.png" alt="">
    </div>
    <div *ngIf="scrollable && scrollable_right" class="arrow_div_right" [class.show_content]="hover"
        (mouseover)="hover = true" (click)="scrollRight()" (mouseout)="hover = false">
        <img src="/assets/img/back-right.png" alt="">
    </div>
    <div class="image_slider_main" (mouseenter)="checkScrollbar()">
        <div #scroll_div class="image_slider_scroll">
            <span class="no_results" *ngIf="input_data.length == 0 && content.searching">Your search for "{{content.search_text}}" returned no results</span>
            <div *ngFor="let movie of input_data; let i = index" class="image">  
                <img *ngIf="movie.poster_path" [src]="content.imageBase_url + movie.poster_path" [class.hover]="hover_info && hover_index == i"
                    (mouseenter)="handleMouseOver(i, movie.id)" (mouseleave)="handleMouseOut()"
                    (click)="openMovieDetail(movie.id, i, movie.in_watchlist)">
                <div [class.show_info]="hover_info && hover_index == i || window_width < 1200" class="info" (mouseover)="hover_info = true"
                    (mouseout)="hover_info = false && video_error = false">
                    <span *ngIf="video_error" class="error">No trailer available</span>
                    <div class="genres">
                        <div *ngFor="let genre of movie.genres; let g = index">
                            <span *ngIf="g < 3">{{genre}}</span>
                        </div>
                     
                    </div>
                    <div class="info_buttons">
                        <div class="play" (click)="playYoutubeVideo(i, movie.id)" >
                            <img src="/assets/img/play_black.png" alt="">
                        </div>

                        <div   class="add" (click)="updateWatchList(movie.id, i, input_data)" (mouseover)="content.getToolTipText(movie.in_watchlist) "
                        [matTooltip]="content.tooltip_text" matTooltipPosition="above">
                            <div [class.pointer_event]="content.guest" *ngIf="!movie.in_watchlist" class="add_button">
                                <img src="/assets/img/plus.png" alt="">
                            </div>
                            <div *ngIf="movie.in_watchlist" class="add_button">
                                <img src="/assets/img/done.png" alt="">
                            </div>
                        </div>
                        <div class="add_button" (click)="openMovieDetail(movie.id, i, movie.in_watchlist)">
                            <img src="/assets/img/down.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>