<div [class.show_shadow]="content.open_movie_detail && youtube.play" class="shadow" (click)="closeMovieDetail()">

    <div class="main_div" (click)="$event.stopPropagation()">
        <div class="youtube_player">
            <div id="youtube-player2"></div>
        </div>
        <div class="overlay">

            <div class="close">
                <img src="/assets/img/close.png" (click)="closeMovieDetail()" alt="">
            </div>
            <div class="play_logo">
                <img  class="logo" [src]="logo_url" alt="">
                <div class="play_add">
                    <div class="play_button" (click)="playYouTubeVideo()">
                        <img src="/assets/img/play_black.png" alt="">
                        <span>Play</span>
                    </div>
                    <div class="add" (click)="updateWatchList(content.movie_detail)"
                        [matTooltip]="getToolTipText(content.movie_detail.in_watchlist)" matTooltipPosition="above">
                        <img *ngIf="!content.movie_detail.in_watchlist" src="/assets/img/add.png" alt="">
                        <img *ngIf="content.movie_detail.in_watchlist" src="/assets/img/done.png" alt="">
                    </div>
                </div>
            </div>
            <div class="info_div_main">
                <div class="year_credits">
                    <div class="year_runtime">
                        <span> {{getProductionYear()}}</span>
                        <span>{{getRuntime()}}</span>
                    </div>
                    <div class="credits_genres">
                        <div *ngIf="content.movie_detail.credits" class="credits_main">
                            <span>Cast:</span>
                            <div *ngFor="let actor of content.movie_detail.credits.cast; let i = index" class="credits"
                                [class.d_none]="i > 5">
                                {{actor.name}}
                            </div>
                        </div>
                        <div class="genres">
                            <span>Genres: </span>
                            <div *ngFor="let genre of content.movie_detail.genres; let i = index">
                                {{genre.name}}
                            </div>
                        </div>

                    </div>
                </div>
                <span class="overview">{{content.movie_detail.overview}}</span>
                <span class="similar_title_headline">Similar titles</span>
                <div class="similar_titles">
                    <div *ngFor="let movie of similar_movies let i = index" class="similar_movie_main">
                    
                            <img src="{{content.imageBase_url + movie.backdrop_path}}" alt="">
                            <img class="similar_logo" src="{{content.imageBase_url + movie.en_logo}}" alt="">

            
                     
                    </div>
                </div>
            </div>
        </div>
    </div>