

.input_div
    position: relative

.new_to
    color: #71736E
    display: flex
    gap: 10px
    :nth-child(2)
        color: #fff
        cursor: pointer
        &:hover
            transition: 150ms
            text-decoration: underline

.error
    position: absolute
    top: 50px
    left: 0
    color: #D87405

.form
    gap: 30px
    display: flex
    flex-direction: column



.invalid
    border-bottom: 2px solid #D87405


