<div class="sidenav">
    <div class="profile">
        <img src="/assets/img/profil.png" alt="">
        {{auth.current_user.user_name}}
    </div>
    <span (click)="userLogOut()">Log out</span>
    <span *ngIf="!content.guest" (click)="openDialog()">Delete account</span>
    <div class="line"></div>
    <span (click)="goToHome()">Home</span>
    <span (click)="goToWatchlist()">Watchlist</span>
    <span (click)="goToMyVideos()">MyVideos</span>
    <span (click)="goToImprint()">Impressum</span>
    <span (click)="goToLegalNotice()">Datenschutzerklärung</span>
</div>