



<div  class="youtube_player" [class.z_index]="content.play">
    <div (click)="closeVideo()" class="close_video" *ngIf="content.play">
        <img src="/assets/img/back_video.png" alt="">
    </div>
    <div id="youtube-player"></div> 
</div>

<div *ngIf="!content.play" class="main_home">
  
    <div class="slider_div">
        <div class="dummy">
            <img *ngIf="content.popular_movies.length > 0"  [src]="content.imageSlider_url + content.popular_movies[0].backdrop_path" >
        </div>
        <div *ngFor="let element of content.popular_movies_details; let i = index"
            [@fadeInOut]="i === current_slide_index? 'visible' : 'hidden'" class="slider_item">
            <img *ngIf="element.backdrop_path" [src]="content.imageSlider_url + element.backdrop_path">
        </div>
        <div class="overlay"></div>
        <div class="overlay_left"></div>
        <div *ngIf="content.loading" class="loader"></div>
        <div *ngIf="!content.loading" class="slider_movie_details">
            <img [src]="slider_logo_url">
            <span>{{overview}}</span>
            <div class="buttons">
                <div class="play_button"  (click)="playYouTubeVideo(current_slide_index)">
                    <img src="/assets/img/play_black.png" alt="">
                    <span>Play</span>
                </div>
                <div class="info_button">
                    <img src="/assets/img/info.png" alt="">
                    <span>More Info</span>
                </div>
            </div>
        </div>
      
    </div>
    <section>
        <app-image-slider [input_data]="content.trending_movies" [headline]="'Trending'"></app-image-slider>
    </section>
    <section>
        <app-image-slider [input_data]="content.action_movies" [headline]="'Action'"></app-image-slider>
    </section>
    <section>
        <app-image-slider [input_data]="content.animation_movies" [headline]="'Animation'"></app-image-slider>
    </section>
    <section>
        <app-image-slider [input_data]="content.adventure_movies" [headline]="'Adventure'"></app-image-slider>
    </section>
    <section>
        <app-image-slider [input_data]="content.comedy_movies" [headline]="'Comedy'"></app-image-slider>
    </section>
</div>


