<header>
    <app-header></app-header>
</header>

<div class="main_home">
    <section>
        <span class="section_heaadline">Trending</span>
        <app-image-slider [input_data]="content.trending_movies"></app-image-slider>
    </section>
    <section>
        <span class="section_heaadline">Action</span>
        <app-image-slider [input_data]="content.action_movies"></app-image-slider>
    </section>
    <section>
        <span class="section_heaadline">Animation</span>
        <app-image-slider [input_data]="content.animation_movies"></app-image-slider>
    </section>
    <section>
        <span class="section_heaadline">Adventure</span>
        <app-image-slider [input_data]="content.adventure_movies"></app-image-slider>
    </section>
</div>
<video class="background_video" autoplay muted loop>
    <source src="/assets/video/background.mp4" type="video/mp4">
</video>
<div class="overlay"></div>