<div *ngIf="!success && !error">
    <div mat-dialog-content>Edit your Profile</div>
    <div mat-dialog-content class="edit_user">
        <span>Name:</span>
        <input  [class.invalid]="name.length == 0" [(ngModel)]="name" maxlength="30" type="text">
        <span *ngIf="name.length == 0" class="error_name">Please enter a name</span>
        <span>Email:</span>
        <input [class.invalid]="!email_valid" [(ngModel)]="email" maxlength="100" type="email" (ngModelChange)="dataChanged()">
        <span *ngIf="!email_valid" class="error_email">Please enter a valid email</span>
    </div>
    <div mat-dialog-actions class="edit_button">
        <button [disabled]="!email_valid || name.length == 0 || name == auth.current_user.user_name && email == auth.current_user.email" mat-button (click)="editUser()">Edit</button>
        <button mat-button mat-dialog-close>Close</button>
    </div>
</div>

<div class="response" *ngIf="success">
    <div mat-dialog-content>Profile was successfully edited</div>
    <div class="response_button" mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </div>
</div>

<div class="response" *ngIf="error">
    <div *ngIf="!email_in_use" mat-dialog-content>Something went wrong</div>
    <div *ngIf="email_in_use" mat-dialog-content>Email already in use</div>
    <div class="response_button" mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </div>
</div>



<mat-spinner  class="spinner spinner_edit" *ngIf="loading"></mat-spinner>
