<div class="main_div">
    <header>
        <div class="logo">
            <img src="/assets/img/logo.png" alt="">
            <span>VideoFlix</span>
        </div>
    </header>
    <div class="main_set_password">
        <div class="form" >
            <span class="sub_headline">Reset Password</span>
            <span>Please enter a new password.</span>
            <div class="input_div">
                <input  type="password" placeholder="Password" [(ngModel)]="password_1" (focus)="inputFocus()">
                <span *ngIf="password_1.length < 8" class="error"> 8 characters </span>
            </div>
            <div class="input_div">
                <input [class.invalid]="pw_not_match" type="password" placeholder="Confirm Password" [(ngModel)]="password_2" (focus)="inputFocus()">
                <span *ngIf="pw_not_match" class="error">The password does not match</span>
            </div>
            <div (click)="setNewPassword()" class="button">
                <span *ngIf="!auth.loading" >Send</span>
                <div *ngIf="auth.loading" class="loader"></div>
            </div>
            <span *ngIf="auth.request_successfull" class="successfully">The password was changed successfully.</span>
        </div>
</div>
<div class="shadow"></div>
